body,
input,
textarea {
  color: #333; /*-webkit-font-smoothing:antialiased;*/
  font-size: 17px;
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: -0.022em;
  margin: 2em;
  background-color: rgb(233, 252, 255);
}

/* Families */
body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif; /* Weights from Typekit: 300, 400 */
  line-height: 1.5;
}
h2,
h3 {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif; /* Weights from Typekit: 200, 900 */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  background: #b97fca;
  color: #fff;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}
h2 {
  color: black;
  font-weight: 250; /* Heavy */
  font-size: 4em;
  letter-spacing: 1px;
  line-height: 1em;
}
h3 {
  font-size: 2.25em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
  text-decoration: underline;
}
p,
li {
  font-size: 1em;
  font-weight: 350; /* Regular */
  line-height: 2em;
  padding: 0.5em 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  text-decoration: none;
  font-weight: 225;
  -moz-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  border-color: #ea2e49;
  background-color: rgb(228, 228, 228);
}
footer > a {
  width: 15px;
  height: 15px;
  border: 1px solid;
  margin: 5px;
  padding: 10px;
}

.zen-resources,
.design-archives,
.design-selection {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 300px;
  margin: 25px;
}
.zen-resources h3,
.design-archives h3,
.design-selection h3 {
  margin: 0;
  text-align: center;
  padding: 1em;
  background-color: #000;
  color: #fff;
}
.zen-resources ul,
.design-archives ul,
.design-selection ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.zen-resources a,
.design-archives a,
.design-selection nav > ul > li {
  text-decoration: none;
  padding: 0.65em;
  display: block;
}
.zen-resources > ul > li,
.design-archives nav > ul > li,
.design-selection nav > ul > li {
  padding: 0;
}
.design-selection nav > ul > li {
  margin: 10px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25px;
}
